<section id="product_types-show">
  <% if notice %>
    <%= notice %>
  <% end %>
  <table class="table table-striped table-bordered">
    <tr>
      <th>ID: </th>
      <td><%= @product_type.id%></td>
    </tr>
    <tr>
      <th>Name: </th>
      <td><%= @product_type.name%></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= link_to "Back", admin_product_types_path %>
        <%= link_to "Edit", edit_admin_product_type_path(@product_type) %>
        <%= link_to "Destroy", admin_product_type_path(@product_type), method: :delete, data: {confirm: "Are you sure?"} %>
      </td>
    </tr>
  </table>
</section>
