<section products-show>
  <% if notice %>
    <%= notice %>
  <% end %>
  <table class="table table-striped table-bordered"> 
    <tr>
      <th>ID: </th>
      <td><%= @product.id%></td>
    </tr>
    <tr>
      <th>Name: </th>
      <td><%= @product.name%></td>
    </tr>
    <tr>
      <th>Size: </th>
      <td><%= @product.size%></td>
    </tr>
    <tr>
      <th>Amount: </th>
      <td><%= @product.amount %></td>
    </tr>
    <tr>
      <th>Type: </th>
      <td><%= @product.product_type.try(:name)%></td>
    </tr>
    <tr>
      <th>Status: </th>
      <td><%= @product.status==1 ? "Còn Hàng" : "Hết Hàng"%></td>
    </tr>
    <tr>
      <th>Image fb1: </th>
      <td><%= image_tag @product.image_fb_url1 if @product.image_fb_url1 %></td>
    </tr>
    <tr>
      <th>Image fb2: </th>
      <td><%= image_tag @product.image_fb_url2 if @product.image_fb_url2 %></td>
    </tr>
    <tr>
      <th>Image fb3: </th>
      <td><%= image_tag @product.image_fb_url3 if @product.image_fb_url3 %></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= link_to "Back", admin_products_path %>
        <%= link_to "Edit", edit_admin_product_path(@product) %>
        <%= link_to "Destroy", admin_product_path(@product), method: :delete, data: {confirm: "Are you sure?"} %>
      </td>
    </tr>
</section>
