<div id="">
  <% if current_user %>
    <div class = "crumb">Trang Chủ > <%= link_to "Tất Cả Sản Phẩm", "#" %></div>
    <div class="search-product">
      <table>
        <%= search_form_for @q do |f| %>
          <tr>
            <td>Tên: <%= f.text_field :name_cont %></td>
            <td>Loai: <%= f.collection_select :product_type_id_eq, ProductType.all, :id, :name, include_blank: "Tất Cả", height: "24px" %></td>
            <td><%= f.submit "Tìm Kiếm" %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <table class="table-product table">
    <% @products.each_with_index do |product, i|%>
      <td class = "td-product">
        <div class="product-image">
          <% if product.image_fb_url1? %>
            <%=link_to image_tag(product.image_fb_url1, width: "110", height: "130"), product_path(product) %>
          <% elsif product.image_fb_url2? %>
            <%=link_to image_tag(product.image_fb_url2, width: "110", height: "130"), product_path(product) %>
          <% elsif product.image_fb_url3? %>
            <%=link_to image_tag(product.image_fb_url3, width: "110", height: "130"), product_path(product) %>
          <% else %>
            <%=link_to image_tag("http://www.apeapp.org/wp-content/uploads/2013/09/cs.jpg", width: "110", height: "130", alt: "anh 1"), product_path(product) %>
          <% end %>
        </div>
        <div><%= product.name %></div>
        <div>Size: <%= product.size %></div>
        <div>Type: <%= product.product_type.try(:name) %></div>
        <div>Giá chỉ: <%= product.price %></div>
        <div>Trạng thái: <%= product.status==1 ? "Còn Hàng" : "Hết Hàng" %></div>
        <div>Số lượng: <%= product.amount%></div>
      </td>
      <% if ((i+1)%5 == 0) %>
        <tr></tr>
      <% end %>
    <% end %>
    <tr><td colspan="5"><%= paginate @products %><td></tr>
  </table>
    <div class="fb-like" data-href="https://www.facebook.com/ShopMixuMisa" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
  	<div class="fb-share-button" data-href="https://www.facebook.com/ShopMixuMisa" data-type="button_count"></div>
   <div id="fb-root"></div>
   <div class="fb-comments" data-href="https://www.facebook.com/ShopMixuMisa" data-numposts="5" data-colorscheme="light"></div>
  <% else %>
    <h3>Bạn Cần Phải Đăng nhập <%= link_to "Đăng nhập ngay", "/auth/facebook", id: "sign_in" %></h3>
  <% end %>
</div>
<script>
// function share
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=767124323302603";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<!-- comment box -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=767124323302603";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="fb-root"></div>
<!-- like box -->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=767124323302603";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- like buttom -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=767124323302603";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
